* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #ec0303;
    color: rgb(31, 28, 28);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 40%;
}

.escola{
    background-image: linear-gradient(#cf1010,#36060a);
    color:rgb(73, 4, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}